@font-face {
    font-family: Roboto-Regular;
    src: url(../assets/fonts/Roboto-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Roboto-Bold;
    src: url(../assets/fonts/Roboto-Bold.ttf);
    font-weight: 600;
}

html,
body {
    width: 100%;
    min-height: 100vh;
    /* height: 100%; */
    font-family: Roboto-Regular, sans-serif;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
}

/* Header secton */
header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Navbar */
.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    padding: var(--spacing-medium);
    background-color: var(--primary-color);
    font-family: Roboto-regular, sans-serif;
}

.navbar__logo-container {
    width: 55px;
    height: 55px;
    border: 1px solid var(--secondary-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__logo {
    width: 50px;
    height: 50px;
}

.navbar__links-container {
    flex-grow: 1;
}

.navbar__links {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-large);
}

.navbar__link {
    color: var(--secondary-color);
    font-size: var(--font-size-large);
    opacity: 0.6;
    transition: opacity 0.3s linear;
    text-decoration: none;
    cursor: pointer;
}

.navbar__link:hover {
    opacity: 1;
}

.navbar__link--active {
    border-bottom: 1px solid var(--secondary-color);
    opacity: 1;
}

.navbar__link--active:hover {
    opacity: 1;
}

/* Main section */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-image: url(../assets/images/background-inage.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Home section */
.home {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home__start-video-button {
    width: 8rem;
    padding: 1rem;
}

/* Video section */
.video {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video__container {
    display: flex;
    flex-direction: column;
}

.video__player {
    width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    background: none;
    transition: border-color 0.3s linear, opacity 0.3s linear;
    border-radius: 50%;
    opacity: 0.7;
    min-width: 4rem;
}

button:hover {
    border-color: var(--button-hover-color);
    opacity: 1;
}

button:active {
    color: var(--button-red-color);
}

.video__button-skip {
    width: 6rem;
    padding: 0.5rem;
    margin: var(--spacing-medium) var(--spacing-medium) var(--spacing-medium) auto
}

/* Choince section */
.choice {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.choice__heading {
    font-size: var(--font-size-large);
    opacity: 0.6;
}

.choice__buttons {
    display: flex;
    gap: var(--spacing-medium);
}

.choice__button {
    width: 6rem;
    padding: 0.5rem;
    font-size: var(--font-size-small);
}

.choice__button--blue {
    border-color: var(--button-blue-color);
}

.choice__button--blue:hover {
    border-color: var(--button-blue-color);
}

.choice__button--blue:active {
    color: var(--button-blue-color);
}

.choice__button--red {
    border-color: var(--button-red-color);
}

.choice__button--red:hover {
    border-color: var(--button-red-color);
}

/* Blue Pill section */
.audio {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.audio__heading {
    color: var(--primary-color);
    text-align: center;
    line-height: 1.5;
    font-size: var(--font-size-medium);
    /* Semi-transparent background */
    background-color: rgba(0, 0, 0, 0.7);
    padding: var(--spacing-medium);
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    max-width: 600px;
    position: absolute;
    bottom: 20px;
}

.audio__return-button {
    width: 4.5rem;
    padding: var(--spacing-small);
    border-color: var(--button-hover-color);
    font-size: var(--font-size-small);
}

.audio__controls {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-large);
}

.audio__button {
    width: 4.5rem;
    padding: var(--spacing-small);
    font-size: var(--font-size-small);
}

/* Style the range input for Safari */
.audio__volume {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 10px;
    width: 100px;
    opacity: 0.6;
    -webkit-transition: 0.3s;
    transition: opacity 0.3s;
    border: none;
}

.audio__volume:hover {
    opacity: 1;
}

.audio__volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    cursor: pointer;
    margin-top: -4px;
    -webkit-transition: 0.3s;
}

.audio__volume::-webkit-slider-runnable-track {
    height: 5px;
    border-radius: 10px;
}

/* Red Pill Section */
.education {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--backgroud-blue-color);
}

.education__heading {
    margin-top: var(--spacing-large);
    color: var(--primary-color);
    text-align: center;
    line-height: 1.5;
    font-size: var(--font-size-medium);
    /* Semi-transparent background */
    background-color: var(--backgroud-transparent-color);
    padding: var(--spacing-medium);
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    max-width: 600px;
}

.education__return-button {
    width: 4.5rem;
    padding: 0.5rem;
    border-color: var(--button-hover-color);
    font-size: var(--font-size-small);
}

.education__search {
    padding: var(--spacing-large) 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-small);
}

.education__search-label {
    font-size: var(--font-size-medium);
}

.education__search-input {
    min-width: 300px;
    height: 35px;
    padding: 0 var(--spacing-small);
    font-size: var(--font-size-small);
}

.education__controls {
    width: 100%;
    display: flex;
    justify-content: center;
}

.education__buttons {
    display: flex;
    gap: var(--spacing-medium);
}

.education__button-item {
    display: inline-block;
}

.education__button-item button {
    height: 3.5rem;
    width: 5rem;
}

.education__list {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: var(--spacing-medium);
    padding: var(--spacing-large) var(--spacing-medium);
    justify-self: center;
}

.education__card {
    color: var(--primary-color);
    line-height: 1.5;
    font-size: var(--font-size-small);
    /* Semi-transparent background */
    background-color: var(--backgroud-transparent-color);
    padding: var(--spacing-medium);
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    position: relative;
}

.education__name {
    font-size: var(--font-size-medium);
}

.education__favorite-button {
    width: var(--spacing-large);
    height: var(--spacing-large);
    font-size: var(--font-size-large);
    border: none;
    position: absolute;
    top: 5px;
    right: -10px;
}

.background-image {
    background-image: none;
}

.hidden {
    display: none;
}

.no-background {
    background-image: none;
}

@media screen and (max-width: 635px) {

    /* Navbar */
    .navbar {
        padding: var(--spacing-small);
    }

    .navbar__logo-container {
        width: 50px;
        height: 50px;
    }

    .navbar__logo {
        width: 50px;
        height: 50px;
    }

    .navbar__link a {
        font-size: 1.6rem;
    }

    .navbar__link--active {
        border-bottom: 1px solid var(--secondary-color);
    }

    .navbar__link--active:hover {
        opacity: 1;
    }

    .choice__heading {
        font-size: 1.6rem;
        opacity: 0.6;
    }

    /* Blue Pill section */
    .audio__controls {
        flex-direction: column-reverse;
        gap: var(--spacing-medium);
    }

    .audio__heading {
        line-height: 1.4;
        font-size: var(--font-size-small);
        /* Semi-transparent background */
        padding: var(--spacing-small);
        max-width: 96%;
        bottom: 10px;
    }

    .audio__volume {
        display: none;
    }

    /* Red Pill Section */
    .education__heading {
        margin-top: 10px;
        line-height: 1.5;
        font-size: var(--font-size-small);
        /* Semi-transparent background */
        padding: var(--spacing-small);
        max-width: 96%;
    }

    .education__search-label {
        font-size: var(--font-size-small);
    }
}