:root {
    /* Colors */
    --primary-color: #ffffff;
    --secondary-color: #000000;
    --backgroud-blue-color: #055388;
    --footer-background-color: #fdfdfdd3;
    --backgroud-transparent-color: #524e4d;
    --button-blue-color: #0099ff;
    --button-red-color: #ff0000;
    --button-hover-color: #01fb01;
    --footer-hover-color: #147914;

    /* Spacing */
    --spacing-small: 0.5rem;
    --spacing-medium: 1rem;
    --spacing-large: 2rem;
    --spacing-x-large: 3rem;
    --spacing-xx-large: 4rem;

    /* Font size */
    --font-size-x-small: 0.5rem;
    --font-size-small: 1rem;
    --font-size-medium: 1.2rem;
    --font-size-large: 1.8rem;
    --font-size-x-large: 3rem;
    --font-size-2x-large: 4rem;
}